{% extends "layout.html" %}

{% block title %}
    Buy
{% endblock %}

{% block main %}
    <table>
        <tr class="table-header">
            <th>Symbol</th>
            <th>Name</th>
            <th>Shares</th>
            <th>Price</th>
            <th>TOTAL</th>
        </tr>
        {% for dict in wallet_list %}
            <tr class="table-row">
                <td>{{dict.label_symbol}}</td>
                <td>{{dict.name_symbol}}</td>
                <td>{{dict.shares}}</td>
                <td>${{dict.price_symbol}}</td>
                <td>${{dict.total_value}}</td>
            </tr>
        {% endfor %}
        <tr class="table-row">
            <td>CASH</td>
            <td></td>
            <td></td>
            <td></td>
            <td>${{user_cash}}</td>
        </tr>
        <tr class="table-row total-value-row">
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td><strong>${{total_value}}</strong></td>
        </tr>

    </table>
{% endblock %}