{% extends "layout.html" %}

{% block title %}
    Sell
{% endblock %}

{% block main %}
    <form action="/sell" method="post">
        <div class="form-group">
            <select id="symbol" name="symbol">
                <option selected disabled>Symbol</option>
                {% for symbol in symbol_select %}
                <option value="{{symbol}}" >{{symbol}}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <input min="1" required placeholder="Shares" type="number" autocomplete="off" class="form-control" name="shares">
        </div>
        <button class="btn btn-primary" type="submit">Sell</button>
    </form>
{% endblock %}